* {
    margin: 0; padding: 0; box-sizing: border-box;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h2 {
    border: 1px solid black;
    float: right;
    text-align: center;
}

.chicken {
    color: black;
    background: pink;
}

.beef {
    color: white;
    background: rgb(243, 92, 92);
}

.sushi {
    color: black;
    background: rgb(241, 185, 80);
}

section {
    position: relative;
    float: left;
    width: 30%;
    clear: all;
    border: 1px solid black;
    background: rgb(209, 203, 203);
    margin: 10px;
    
}
@media (min-width: 992px) {
    section {
        float: left;
        width: 30%;
        clear: all;
    }
}

@media (min-width: 768px max-width: 991px) {
    section {
        float: left;
        width: 40%;
        clear: all;
    }
} /* for tablet */

@media (max-width: 767px) {
    section {
        float: left;
        width: 80%;
        clear: all;
    }
}